.custom-modal .ant-modal-content {
    height: 100%; 
    overflow-y: auto; 
}
  

.custom-modal .ant-modal-body {
    max-height: 100%; 
}


.TEXT_LGOTS {
    font-family: Arial;
    font-size: 18px;
}


.custom-button_lgots {
  background-color: #ef0f33 !important; 
  color: white; 
  padding: 10px 20px; 
  text-decoration: none;
  font-family: Arial;
  font-size: 18px; 
  border-radius: 20px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
  transition: background-color 1s ease; /* Faster transition */
  width: 200px; 
  height: 50px; 
  margin-top: 30px;
  text-align: center; /* Center text horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; /* Ensure cursor changes on hover */
  left: 30%;
}

.custom-button_lgots:hover {
  background-color: #a00a24 !important; /* Darker color on hover */
}






  .title_Modallog {
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    font-size: 24px; /* Размер шрифта для заголовка */
    margin-bottom: 20px; /* Отступ снизу для заголовка */
  }

  .title_Modallog .icon {
    margin-right: 10px; /* Отступ справа между иконкой и текстом */
  }

.name_lgot {
    margin-bottom: 20px;
}