@tailwind base;
@tailwind components;
@tailwind utilities;



.header {
  margin-top: 50px;
  text-align: right;
  border-radius: 20px;
}

.header Button {
  margin-right: 10px;
  border: 2px solid red;
  border-radius: 20px; 
  box-shadow: 2px 2px 6px red;
}


.header img {
  width: 200px;
  height: 70px;
  float: left;
  left: 50%;
  vertical-align: middle; 
}


.input {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 60px;
  border-radius: 20px;

}

.input Button {
  left: 512px;
  bottom: 32px;
  border: 2px solid black;
  box-shadow: 2px 2px 1px black;
}

.input input {
  box-shadow: 2px 2px 6px black;
}