@tailwind base;
@tailwind components;
@tailwind utilities;

/* Стиль для хедера */
.header {
  margin-top: 50px;
  text-align: right;
  border-radius: 20px;
}

/* Стиль для кнопок вход авторизация */
.header Button {
  margin-right: 10px;
  background-color: #ef0f33; 
  color: #fff; 
  border-radius: 20px;
  padding: 10px 20px;
  transition: background-color 1s;
}

.header Button:hover {
  background-color: #a00a24 !important;
}


/* Стиль для инпута */
.input {
  position: fixed; 
  left: 50%;
  top: 95%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 60px;
  border-radius: 20px;
}

.input-wrapper{
  position: fixed;
  width: 500px;
  height: 60px;
}


/* Стиль для окошка с сообщениями */
.messages {
  font-family: 'Roboto', sans-serif; 
  position: fixed;
  left: 50%;
  bottom: 150%; 
  transform: translateX(-50%);
  width: 500px;
  max-height: 1000%; 
  overflow-y: auto; 
  background-color: #f0f0f0; 
  padding: 20px; 
  border-radius: 20px;
  border: 2px solid #333; 
  color: #333; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  margin: 20px 0; 
}

.input .messages::-webkit-scrollbar {
  display: none; 
}

.messages p {
  word-wrap: break-word; 
  word-break: break-word; 
  margin: 0; 
}

.ant-card {
  border-radius: 40px; 
}


.welcome-message {
  font-family: Arial; 
  font-weight: bold; 
  text-align: center;
  color: #888;
  padding: 20px; 
}

/* Стиль для кнопки отправки*/
.send_btn {
  width: 32px;
  height:32px;
  left: 512px;
  bottom: 28px;
  border: 1px solid black;
  border-radius:5px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

}

.send_btn:hover{
    scale:1.1;
}

.send_img{
    height:24px;
    weight:24px;
}

/* Стиль для поля ввода при регистарции*/
.pool_info Input {
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 1.1rem;
}

.pool_info Button {
  font-family: Bebas Neue, sans-serif;
  font-size: 1.1rem;
  margin-right: 10px;
  background-color: #ef0f33; 
  color: #fff; 
  border-radius: 20px;
  padding: 10px 20px;
  transition: background-color 1s;
  width: 400px;
  height: 40px;
  margin-top: 20px;
}


.pool_info Button:hover {
  background-color: #a00a24 !important;
}


/* Стиль для кнопки частых вопросов*/
.faq_img {
  height: 24px;
  weight: 24px;
}

.help_button {
  width: 32px;
  height:32px;
  left: 550px;
  bottom: 28px;
  border: 1px solid black;
  border-radius:5px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.help_button:hover{
  scale:1.1;
}



.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  width: 300px; /* Фиксированная ширина модального окна */
  max-width: 80%; /* Максимальная ширина 80% ширины экрана */
  max-height: 80vh; /* Максимальная высота 80% высоты окна просмотра */
  overflow: auto; /* Добавляет прокрутку, если содержимое не помещается */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.centered-error {
  position: fixed; 
  left: 50%;
  bottom: 300%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 60px;
  border-radius: 30px;
  text-align: center;
}
