@tailwind base;
@tailwind components;
@tailwind utilities;



.header {
  margin-top: 50px;
  text-align: right;
  border-radius: 20px;
}

.header Button {
  margin-right: 10px;
  background-color: #ef0f33; 
  color: #fff; 
  border-radius: 20px;
  padding: 10px 20px;
  transition: background-color 1s;
}

.header Button:hover {
  background-color: #a00a24 !important;
}


.header img {
  width: 140px;
  height: 50px;
  float: left;
  padding: 10px 20px;
  margin-top: -25px;
}


.input {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 60px;
  border-radius: 20px;

}

.send_btn {
  width: 32px;
  height:32px;
  left: 512px;
  bottom: 28px;
  border: 1px solid black;
  border-radius:5px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

}

.send_btn:hover{
    scale:1.1;
}

.send_img{
    height:24px;
    weight:24px;
}


.pool_info Input {
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 1.1rem;
}

.pool_info Button {
  font-family: Bebas Neue, sans-serif;
  font-size: 1.1rem;
  margin-right: 10px;
  background-color: #ef0f33; 
  color: #fff; 
  border-radius: 20px;
  padding: 10px 20px;
  transition: background-color 1s;
  width: 400px;
  height: 40px;
  margin-top: 20px;
}


.pool_info Button:hover {
  background-color: #a00a24 !important;
}